Repository kubernetes-sigs/kustomize, pull requests merged in 2022-06, with the labels that each got.

#4611 Migrate site content: overview and installation
  site/config.toml
  site/content/en/docs/Getting started/_index.md
  site/content/en/docs/Getting started/installation.md
  site/content/en/docs/Overview/_index.md
  site/layouts/shortcodes/example-major-version.html
  site/layouts/shortcodes/example-semver-version.html
  site/layouts/shortcodes/example-version.html
Labels: cncf-cla: yes, size/L, approved, lgtm, ok-to-test

#4664 Allow tests to only run locally
  Makefile-tools.mk
  api/internal/builtins/AnnotationsTransformer.go
  api/krusty/remoteload_test.go
  cmd/pluginator/internal/krmfunction/funcwrapper/statik.go
  releasing/helpers.sh
Labels: cncf-cla: yes, size/L, approved, lgtm, tide/merge-method-squash, ok-to-test

#4675 Switch github.com/xlab/treeprint to release tag : v1.1.0
  api/go.sum
  cmd/config/go.sum
  cmd/pluginator/go.sum
  kustomize/go.sum
  kyaml/go.mod
  kyaml/go.sum
  kyaml/kio/tree_test.go
  plugin/builtin/annotationstransformer/go.sum
  plugin/builtin/configmapgenerator/go.sum
  plugin/builtin/hashtransformer/go.sum
  plugin/builtin/helmchartinflationgenerator/go.sum
  plugin/builtin/iampolicygenerator/go.sum
  plugin/builtin/imagetagtransformer/go.sum
  plugin/builtin/labeltransformer/go.sum
  plugin/builtin/legacyordertransformer/go.sum
  plugin/builtin/namespacetransformer/go.sum
  plugin/builtin/patchjson6902transformer/go.sum
  plugin/builtin/patchstrategicmergetransformer/go.sum
  plugin/builtin/patchtransformer/go.sum
  plugin/builtin/prefixtransformer/go.sum
  plugin/builtin/replacementtransformer/go.sum
  plugin/builtin/replicacounttransformer/go.sum
  plugin/builtin/secretgenerator/go.sum
  plugin/builtin/suffixtransformer/go.sum
  plugin/builtin/valueaddtransformer/go.sum
  plugin/someteam.example.com/v1/bashedconfigmap/go.sum
  plugin/someteam.example.com/v1/calvinduplicator/go.sum
  plugin/someteam.example.com/v1/dateprefixer/go.sum
  plugin/someteam.example.com/v1/printpluginenv/go.sum
  plugin/someteam.example.com/v1/secretsfromdatabase/go.sum
  plugin/someteam.example.com/v1/sedtransformer/go.sum
  plugin/someteam.example.com/v1/someservicegenerator/go.sum
  plugin/someteam.example.com/v1/starlarkmixer/go.sum
  plugin/someteam.example.com/v1/stringprefixer/go.sum
  plugin/someteam.example.com/v1/validator/go.sum
  plugin/untested/v1/gogetter/go.sum
Labels: cncf-cla: yes, size/L, approved, lgtm, tide/merge-method-squash

#4694 Add `localize` test data with remote reference
  api/krusty/testdata/localize/remote/hpa.yaml
  api/krusty/testdata/localize/remote/kustomization.yaml
Labels: cncf-cla: yes, size/S, approved, lgtm, ok-to-test
