Repository kubernetes-sigs/kustomize, pull requests merged in 2023-04, with the labels that each got.

#4924 Set go version on github actions from gowork file
  .github/workflows/go.yml
Labels: cncf-cla: yes, size/L, approved, lgtm

#5111 Re-enable tests disabled in #3880
  api/krusty/fnplugin_test.go
Labels: cncf-cla: yes, size/L, approved, kind/bug, lgtm, priority/important-soon, ok-to-test, triage/accepted

#5130 Add a rich example of fn framework for abstraction
  Makefile
  functions/examples/fn-framework-application/Makefile
  functions/examples/fn-framework-application/README.md
  functions/examples/fn-framework-application/cmd/main.go
  functions/examples/fn-framework-application/go.mod
  functions/examples/fn-framework-application/go.sum
  functions/examples/fn-framework-application/pkg/dispatcher/dispatcher.go
  functions/examples/fn-framework-application/pkg/exampleapp/v1alpha1/crd_gen.sh
  functions/examples/fn-framework-application/pkg/exampleapp/v1alpha1/example_app_test.go
  functions/examples/fn-framework-application/pkg/exampleapp/v1alpha1/platform.example.com_exampleapps.yaml
  functions/examples/fn-framework-application/pkg/exampleapp/v1alpha1/processing.go
  functions/examples/fn-framework-application/pkg/exampleapp/v1alpha1/templates/job_worker.template.yaml
  functions/examples/fn-framework-application/pkg/exampleapp/v1alpha1/templates/postgres_secret_env_patch.template.yaml
  functions/examples/fn-framework-application/pkg/exampleapp/v1alpha1/templates/web_worker.template.yaml
  functions/examples/fn-framework-application/pkg/exampleapp/v1alpha1/testdata/error/config.yaml
  functions/examples/fn-framework-application/pkg/exampleapp/v1alpha1/testdata/error/errors.txt
  functions/examples/fn-framework-application/pkg/exampleapp/v1alpha1/testdata/success/basic/config.yaml
  functions/examples/fn-framework-application/pkg/exampleapp/v1alpha1/testdata/success/basic/expected.yaml
  functions/examples/fn-framework-application/pkg/exampleapp/v1alpha1/testdata/success/overrides/config.yaml
  functions/examples/fn-framework-application/pkg/exampleapp/v1alpha1/testdata/success/overrides/custom-app-env.yaml
  functions/examples/fn-framework-application/pkg/exampleapp/v1alpha1/testdata/success/overrides/custom-configmap.yaml
  functions/examples/fn-framework-application/pkg/exampleapp/v1alpha1/testdata/success/overrides/expected.yaml
  functions/examples/fn-framework-application/pkg/exampleapp/v1alpha1/testdata/success/overrides/web-worker-sidecar.yaml
  functions/examples/fn-framework-application/pkg/exampleapp/v1alpha1/types.go
  go.work
  go.work.sum
  hack/add-license.sh
  hack/for-each-module.sh
Labels: cncf-cla: yes, size/XXL, approved, lgtm

#5133 Only override name of core api version
  api/filters/namespace/namespace.go
  api/krusty/namespaces_test.go
  api/types/kustomization.go
Labels: cncf-cla: yes, size/M, approved, kind/bug, lgtm, priority/important-soon, ok-to-test, triage/accepted

#4999 Fix using same helm chart with different versions
  api/internal/builtins/HelmChartInflationGenerator.go
  plugin/builtin/helmchartinflationgenerator/HelmChartInflationGenerator.go
  plugin/builtin/helmchartinflationgenerator/HelmChartInflationGenerator_test.go
Labels: cncf-cla: yes, size/L, approved, kind/bug, lgtm, priority/important-soon, tide/merge-method-squash, ok-to-test, triage/accepted

#5145 Add DeepCopy for ResourceMeta and ObjectMeta
  kyaml/yaml/types.go
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test
