Repository kubernetes-sigs/kustomize, pull requests merged in 2024-09, with the labels that each got.

#5458 Sort built-in Namespace kind before CRDs with the same name
  api/internal/builtins/SortOrderTransformer.go
  api/types/kustomization.go
  plugin/builtin/sortordertransformer/SortOrderTransformer.go
  plugin/builtin/sortordertransformer/SortOrderTransformer_test.go
Labels: cncf-cla: yes, size/M, approved, lifecycle/rotten, lgtm, tide/merge-method-squash, ok-to-test

#5760 Docs: fix kubectl command
  README.md
Labels: cncf-cla: yes, size/XS, approved, lgtm

#5745 Add Annotation to Control Inline List Conversion in Kustomize Resources"
  api/krusty/no_list_items_test.go
  api/resource/factory.go
  api/resource/factory_test.go
  go.work.sum
Labels: cncf-cla: yes, size/L, approved, lgtm, ok-to-test

#5751 Add `--helm-debug` Flag to Kustomize for Enhanced Helm Debugging
  api/internal/builtins/HelmChartInflationGenerator.go
  api/types/helmchartargs.go
  api/types/helmchartargs_test.go
  api/types/pluginconfig.go
  kustomize/commands/build/build.go
  kustomize/commands/build/flagenablehelm.go
  plugin/builtin/helmchartinflationgenerator/HelmChartInflationGenerator.go
  plugin/builtin/helmchartinflationgenerator/HelmChartInflationGenerator_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm, tide/merge-method-squash, ok-to-test

#5770 add write permission to run release CI
  .github/workflows/release.yaml
Labels: cncf-cla: yes, size/XS, approved, lgtm

#5756 chore: add bad-credentials exception for install script
  hack/install_kustomize.sh
Labels: cncf-cla: yes, size/XS, approved, lgtm, ok-to-test
