Repository kubernetes-sigs/kustomize, pull requests merged in 2025-08, with the labels that each got.

#5930 feat: add PatchArgs API type to populate patch options
  api/internal/builtins/PatchTransformer.go
  api/internal/target/kusttarget_configplugin.go
  api/types/patch.go
  api/types/patch_test.go
  api/types/patchargs.go
  go.work.sum
  kustomize/commands/edit/fix/convert.go
  plugin/builtin/patchtransformer/PatchTransformer.go
Labels: cncf-cla: yes, size/L, approved, lgtm, ok-to-test

#5958 fix: make AbsorbAll conflict error more verbose
  api/resmap/reswrangler.go
Labels: cncf-cla: yes, size/XS, approved, lgtm, ok-to-test

#5960 build(deps): bump golang.org/x/oauth2 from 0.25.0 to 0.27.0
  cmd/depprobcheck/go.mod
  cmd/depprobcheck/go.sum
  functions/examples/application-cr/image/go.mod
  functions/examples/application-cr/image/go.sum
  hack/go.mod
  hack/go.sum
Labels: cncf-cla: yes, size/S, approved, lgtm

#5940 fix: Propagate Namespace correctly to Helm
  api/internal/builtins/NamespaceTransformer.go
  api/internal/target/kusttarget.go
  api/internal/target/kusttarget_configplugin.go
  api/internal/target/kusttarget_test.go
  api/krusty/helmchartinflationgenerator_test.go
  plugin/builtin/namespacetransformer/NamespaceTransformer.go
  plugin/builtin/namespacetransformer/NamespaceTransformer_test.go
Labels: cncf-cla: yes, approved, size/XL, lgtm, ok-to-test

#5967 Fix infinite loop in HTTP client by validating URLs before requests
  api/internal/loader/fileloader.go
  api/internal/loader/fileloader_test.go
Labels: cncf-cla: yes, size/S, approved, lgtm, ok-to-test
